<section class="bg-light py-5">
    <div class="container px-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card text-center shadow">
            <div class="card-body">
              <h3 class="card-title text-success">Thank You for Creating {{orgName}}!</h3>
              <p class="card-text mt-3">
                We have received your organization's registration. You will be notified via email once your organization is approved.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  