html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  html, body {
    scroll-behavior: smooth;
  }
  
  .error-message {
    margin: 20px 0;
  }
  
  .flex-grow-1 {
    flex: 1;
  }
  
  footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
  }
  